.loading {
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 1;
  }
  
  ul,
  li {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  hmtl,
  body {
    margin: 0;
    padding: 0;
  }
  
  .cj-diamondCon {
    width: 200px;
    height: 200px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    margin: auto;
  }
  
  .cj-diamond {
    display: block;
    width: 200px;
    height: 200px;
    position: relative;
  }
  
  .cj-diamond li {
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    opacity: 0;
    z-index: 100;
    transition: 400ms ease;
  }
  
  .cj-diamond li:nth-child(1) {
    border-width: 20px 20px 0 20px;
    border-color: #ff7777 transparent transparent transparent;
    left: 0;
    right: 0;
    margin: auto;
    animation: traingle1 200ms 2.2s ease, opacity 2s 2.4s ease infinite;
    animation-fill-mode: forwards;
  }
  
  .cj-diamond li:nth-child(2) {
    border-width: 0 20px 20px 20px;
    border-color: transparent transparent #ff8181;
    left: 59px;
    animation: traingle2 200ms 1.8s ease, opacity 2s 2.4s ease infinite;
    animation-fill-mode: forwards;
  }
  
  .cj-diamond li:nth-child(3) {
    border-width: 0 20px 20px 20px;
    border-color: transparent transparent #ff8888;
    right: 59px;
    animation: traingle3 200ms 2s ease, opacity 2s 2.4s ease infinite;
    animation-fill-mode: forwards;
  }
  
  .cj-diamond li:nth-child(4) {
    border-width: 0 20px 20px 20px;
    border-width: 20px 20px 0 20px;
    border-color: #ff9090 transparent transparent transparent;
    animation: traingle4 200ms 1.6s ease, opacity 2s 2.6s ease infinite;
    animation-fill-mode: forwards;
  }
  
  .cj-diamond li:nth-child(5) {
    border-width: 0 20px 20px 20px;
    border-width: 20px 20px 0 20px;
    border-color: #fc9b9b transparent transparent transparent;
    animation: traingle5 200ms 1.4s ease, opacity 2s 2.6s ease infinite;
    animation-fill-mode: forwards;
  }
  
  .cj-diamond li:nth-child(6) {
    border-width: 0 20px 20px 20px;
    border-color: transparent transparent #ffa3a3;
    left: 0;
    right: 0;
    margin: auto;
    animation: traingle6 200ms 1.2s ease, opacity 2s 2.6s ease infinite;
    animation-fill-mode: forwards;
  }
  
  .cj-diamond li:nth-child(7) {
    border-width: 20px 20px 0 20px;
    border-color: #feacac transparent transparent transparent;
    left: 0;
    right: 0;
    margin: auto;
    animation: traingle7 200ms 1s ease, opacity 2s 2.8s ease infinite;
    animation-fill-mode: forwards;
  }
  
  .textCon {
    color: #000;
    width: 200px;
    height: 50px;
    position: absolute;
    top: 0;
    text-align: center;
    line-height: 50px;
    font-size: 30px;
    opacity: 0;
    animation: text 500ms 2.4s ease;
    animation-fill-mode: forwards;
  }
  
  @keyframes traingle1 {
    0% {
      top: -50px;
      opacity: 0;
    }
    100% {
      top: 0;
      opacity: 1;
    }
  }
  
  @keyframes traingle2 {
    0% {
      top: -50px;
      opacity: 0;
    }
    100% {
      top: 1px;
      opacity: 1;
    }
  }
  
  @keyframes traingle3 {
    0% {
      top: -50px;
      opacity: 0;
    }
    100% {
      top: 1px;
      opacity: 1;
    }
  }
  
  @keyframes traingle4 {
    0% {
      right: 59px;
      top: -33px;
      opacity: 0;
    }
    100% {
      right: 59px;
      top: 22px;
      opacity: 1;
    }
  }
  
  @keyframes traingle5 {
    0% {
      left: 59px;
      top: -33px;
      opacity: 0;
    }
    100% {
      left: 59px;
      top: 22px;
      opacity: 1;
    }
  }
  
  @keyframes traingle6 {
    0% {
      top: -33px;
      opacity: 0;
    }
    100% {
      top: 23px;
      opacity: 1;
    }
  }
  
  @keyframes traingle7 {
    0% {
      top: -10px;
      opacity: 0;
    }
    100% {
      top: 44px;
      opacity: 1;
    }
  }
  
  @keyframes opacity {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.3;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes text {
    0% {
      top: 0;
      opacity: 0;
    }
    100% {
      top: 70px;
      opacity: 1;
    }
  }