<div class="mat-typography">
  <form class="form-horizontal mat-form-field-full-width mat-form-field-outline-no-label" [formGroup]="form"
    novalidate (ngSubmit)="save(form.value, form.valid)">

    <div class="row">
      <label class="col-form-label col-sm-3 mat-col-form-label" i18n="@@surname">Surname</label>
      <div class="col-sm-9">
        <mat-form-field>
          <input type="text" matInput formControlName="surname">
          <mat-error *ngIf="form.get('surname').hasError('required')" i18n="@@surnameisRequired">
            Surname is required
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <label class="col-form-label col-sm-3 mat-col-form-label" i18n="@@name">Name</label>
      <div class="col-sm-9">
        <mat-form-field>
          <input type="text" matInput formControlName="name">
          <mat-error *ngIf="form.get('name').hasError('required')" i18n="@@nameisRequired">
            Name is required
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <label class="col-form-label col-sm-3 mat-col-form-label" i18n="@@email">Email</label>
      <div class="col-sm-9">
        <mat-form-field>
          <input type="text" matInput formControlName="email">
          <mat-error *ngIf="form.get('email').hasError('required')" i18n="@@emailisRequired">
            Email is required
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <label class="col-form-label col-sm-3 mat-col-form-label" i18n="@@comment">Comment</label>
      <div class="col-sm-9">
        <mat-form-field>
          <input type="text" matInput formControlName="comment">
          <mat-error *ngIf="form.get('comment').hasError('required')" i18n="@@commentisRequired">
            Comment is required
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <mat-dialog-actions align="end">
      <div class="row">
        <div class="col-sm-9 ml-auto">
          <button mat-button type="submit" [disabled]="saving" i18n="@@send">Send</button>
          <button mat-button (click)="dialogRef.close()" type="button" i18n="@@cancel">Cancel</button>
        </div>
      </div>
    </mat-dialog-actions>
  </form>
</div>
