.button-about {
  background: linear-gradient(270deg
,#fa7878,#ff4949);
}

.cj-header {
  height: 100vh;
  overflow: hidden;
  transition: all .3s ease;
  width: 100%;
  display: block;
  position: relative;
}

.cj-main {
  position: absolute;
  transform-style: preserve-3d;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 100%;
  transition: color .3s ease, opacity .3s ease .65s;
}

.cj-main .cj-content {
  padding-left: 50px;
}

.cj-content {
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;

}


.cj-text {
  max-width: 470px;
  margin-right: 70px;
  opacity: 0;
  animation: HeroSlideIn 1s forwards .2s ease;
  font-size: 0;
  will-change: transform, opacity, box-size;

  h1 {
    font-family: hk_grotesk, 'Abel';
    font-weight: 800;
    font-size: 46px;
    line-height: 110%;
    margin-bottom: 24px;
    display: flex;
    align-items: baseline;

    span {
      margin-left: 20px;
    }
  }

  .cj-headline {
    font-family: hk_grotesk, 'Abel';
    font-weight: 600;
    font-size: 25px;
    line-height: 140%;
    margin-bottom: 24px;
  }
}

@keyframes FadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes HeroWrapperSlideIn {
  0% {
    transform: translateY(-1%);
  }

  100% {
    transform: translateY(0);
  }
}


@keyframes HeroSlideIn {
  0% {
    transform: translateY(-10%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}


@media screen and (max-width: 750px) {
  .cj-text {
    margin-right: 0;

    h1 {
      display: block;

      span {
        display: block;
        margin-top: 24px;
        margin-left: 0;
      }
    }
  }
}

.cj-title {
  display: inline-block;
}
