<footer class="footer">
  <div class="container">
    <div class="row">
      <span>
        © {{test | date: 'yyyy'}}, made with
        <mat-icon class="icon">favorite</mat-icon>
        by Jacob Corentin
      </span>
    </div>
    <div class="social-menu">
      <ul>
        <li><a aria-label="lien github" href="https://github.com/xersos"><i class="fa fa-github"></i></a></li>
        <li><a aria-label="lien linkedin" href="https://www.linkedin.com/in/corentin-jacob-746b92146/"><i class="fa fa-linkedin"></i></a></li>
      </ul>
    </div>
  </div>
</footer>

