.button-about {
  background: linear-gradient(270deg, #fa7878, #ff4949);
}

.cj-header {
  height: 100vh;
  overflow: hidden;
  transition: all .3s ease;
  width: 100%;
  display: block;
  position: relative;
}

.cj-main {
  position: absolute;
  transform-style: preserve-3d;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 100%;
  transition: color .3s ease, opacity .3s ease .65s;
}

.cj-content {
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;

}


.cj-text {
  max-width: 470px;
  margin-right: 70px;
  opacity: 0;
  animation: HeroSlideIn 1s forwards .2s ease;
  font-size: 0;
  will-change: transform, opacity, box-size;

  h1 {
    font-family: hk_grotesk, 'Abel';
    font-weight: 800;
    font-size: 46px;
    line-height: 110%;
    margin-bottom: 24px;
    display: flex;
    align-items: baseline;

    span {
      margin-left: 20px;
    }
  }

  .cj-headline {
    font-family: hk_grotesk, 'Abel';
    font-weight: 600;
    font-size: 25px;
    line-height: 140%;
    margin-bottom: 24px;
  }
}

.project-section {
  padding: 80px 0;
  position: relative;
}

.section-mask {
  position: absolute;
  top: 0;
  height: 100%;
  left: 0;
  width: 100%;
  z-index: -1;
}

.section-text {
  display: block;
  overflow: hidden;
}

.project-tittle-h2 {
  text-align: center;
  text-transform: uppercase;
  color: darkgray;
}

.project-tittle-h1 {
  text-align: center;
  text-transform: uppercase;
}

.projects {
  height: auto;
  margin-right: auto;
  margin-bottom: 9vw;
  margin-left: auto;
}

.projects-container {
  position: relative;
  display: flex;
  height: 48vw;
  margin-bottom: 0.5vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  justify-content: flex-start;
  border: 1px solid;
}

img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
  border: 0;
}

.project-name {
  margin-bottom: 0px;
  padding-top: 0px;
  line-height: 1.4vw;
  font-weight: 300;
}

@media only screen and (max-width: 991px) {
  .project-name {
    font-size: 2vw;
    line-height: 3vw;
  }
}

@media only screen and (max-width: 767px) {
  .project-name {
    margin-bottom: 2px;
    font-size: 2.5vw;
    line-height: 3.5vw;
  }
}

@media only screen and (max-width: 479px) {
  .project-name {
    font-size: 3vw;
    line-height: 4vw;
  }
}

.project-name.grey {
  padding-top: 0px;
  color: #a1a1a1;
}

@keyframes FadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes HeroWrapperSlideIn {
  0% {
    transform: translateY(-1%);
  }

  100% {
    transform: translateY(0);
  }
}


@keyframes HeroSlideIn {
  0% {
    transform: translateY(-10%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}


@media screen and (max-width: 750px) {
  .cj-text {
    margin-right: 0;

    h1 {
      display: block;

      span {
        display: block;
        margin-top: 24px;
        margin-left: 0;
      }
    }
  }
}

.cj-title {
  display: inline-block;
}

.arrow,
.arrow:before {
  position: absolute;
  left: 50%;
}

.arrow {
  width: 20px;
  height: 20px;
  top: 90%;
  cursor: pointer;
  transform: rotate(45deg);
  border-left: none;
  border-top: none;
  border-right: 2px solid;
  border-bottom: 2px solid;
}
  
.arrow:before {
  content: '';
  width: 10px;
  height: 10px;
  top: 50%;
  margin: -10px 0 0 -10px;
  border-left: none;
  border-top: none;
  border-right: 1px solid;
  border-bottom: 1px solid;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: arrow;
}

@keyframes arrow {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(-10px, -10px);
  }
}