.cj-presentation {
    padding-top: 40px;
    padding-bottom: 80px;
}

.cj-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cj-text {
    max-width: 470px;
    margin-right: 70px;
    opacity: 0;
    animation: HeroSlideIn 1s forwards .2s ease;
    font-size: 0;
    will-change: transform, opacity, box-size;

    h1 {
        font-weight: 800;
        font-size: 46px;
        line-height: 110%;
        margin-bottom: 24px;
        display: flex;
        align-items: baseline;

        span {
            margin-left: 20px;
        }
    }

    .cj-headline {
        font-weight: 600;
        font-size: 25px;
        line-height: 140%;
        margin-bottom: 24px;
    }

    .cj-summary {
        font-size: 16px;
        line-height: 150%;
        margin-bottom: 48px;
    }
}

@keyframes FadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes HeroWrapperSlideIn {
    0% {
        transform: translateY(-1%);
    }

    100% {
        transform: translateY(0);
    }
}


@keyframes HeroSlideIn {
    0% {
        transform: translateY(-10%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.cj-ctas {
    display: flex;

    .cj-btn:first-child {
        margin-right: 24px;
    }
}


@media screen and (max-width: 750px) {
    .cj-text {
        margin-right: 0;

        h1 {
            display: block;

            span {
                display: block;
                margin-top: 24px;
                margin-left: 0;
            }
        }
    }
}