<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [ngClass]="{'hidden': !(isHandset$ | async)}"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <span class="close-trigger">
      <button class="button-close" type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon" class="close">close</mat-icon>
      </button>
    </span>
    <mat-nav-list>
      <a mat-list-item href="#" i18n="@@home">HOME</a>
      <a mat-list-item href="#" i18n="@@studies">STUDIES</a>
      <a mat-list-item href="#" i18n="@@experiments">EXPERIMENTS</a>
      <a mat-list-item href="#" i18n="@@contact">CONTACT</a>
    </mat-nav-list>
    <div class="social-menu mobile">
      <ul>
        <li><a aria-label="lien github" href="https://github.com/xersos"><i class="fa fa-github"></i></a></li>
        <li><a aria-label="lien linkedin" href="https://www.linkedin.com/in/corentin-jacob-746b92146/"><i class="fa fa-linkedin"></i></a></li>
      </ul>
    </div>
  </mat-sidenav>
  <mat-toolbar class="toolbar">
    <mat-toolbar-row>
      <div class="nav-logo" *ngIf="isDarkMode" [routerLink]="['']">
        <img src="./../../assets/img/LogoWhite.svg" height="48" alt="logo">
      </div>
      <div class="nav-logo" *ngIf="!isDarkMode" [routerLink]="['']">
        <img src="./../../assets/img/LogoBlack.svg" height="48" alt="logo">
      </div>
      <span style="flex: 1 1 auto"></span>
      <mat-slide-toggle aria-label="Theming" (click)="toggleDarkMode()" labelPosition="before" [(ngModel)]="isDarkMode">
        <mat-icon *ngIf="!isDarkMode" class="mr-8">brightness_high</mat-icon>
        <mat-icon *ngIf="isDarkMode">brightness_4</mat-icon>
      </mat-slide-toggle>
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon" class="menu">menu</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
</mat-sidenav-container>
