@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src:
		local('Open Sans'),
		local('OpenSans'),
		url(OpenSans-Normal.woff2) format('woff2'),
		url(OpenSans-Normal.woff) format('woff');
}

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	src:
		local('Open Sans Bold'),
		local('OpenSans-Bold'),
		url(OpenSans-Bold.woff2) format('woff2'),
		url(OpenSans-Bold.woff) format('woff');
}