<header class="cj-header">
  <div class="cj-main">
    <div class="cj-content">
      <div class="cj-text">
        <h1 class="cj-title">
          Jacob Corentin
        </h1>
        <p class="cj-headline" i18n="@@webDevelopper">Web Developper</p>
        <button class="button-about" mat-raised-button color="accent" [routerLink]="['/about-me']"
          i18n="@@aboutMe">About me</button>
      </div>
    </div>
  </div>
  <div (click)="experimentsSection()" class="arrow"> 
  </div>
</header>
<section id="experiments" class="project-section">
  <div class="section-mask"></div>
  <div class="content">
    <div class="section-text">
      <h1 class="project-tittle-h1" i18n="experiments">Experiments</h1>
    </div>
    <div class="section-text">
      <h2 class="project-tittle-h2" i18n="myWorks">My Works</h2>
    </div>
  </div>
  <div class="projects">
    <div class="projects-container" [routerLink]="['/greenli']">
      <img src="https://picsum.photos/200" alt="Project Mobilité Verte" class="image">
    </div>
    <div>
      <p class="project-name" i18n="greenli">Greenli : <i>March to July 2021.</i></p>
      <p class="project-name grey" i18n="application">Application carried out during my intership within the Liebherr company.</p>
    </div>
  </div>
  <div class="projects">
    <div class="projects-container" [routerLink]="['/tempo']">
      <img src="https://picsum.photos/200" alt="Project Tempo" class="image">
    </div>
    <div>
      <p class="project-name" i18n="tempo">Tempo : <i>October to January 2021.</i></p>
      <p class="project-name grey" i18n="application">Application carried out during my intership within the Liebherr company.</p>
    </div>
  </div>
  <div class="projects">
    <div class="projects-container" [routerLink]="['/receipt']">
      <img src="https://picsum.photos/200" alt="Project Receipt" class="image">
    </div>
    <div>
      <p class="project-name" i18n="receipt">Receipt : <i>February to September 2020.</i></p>
      <p class="project-name grey" i18n="application">Application carried out during my intership within the Liebherr company.</p>
    </div>
  </div>
</section>
