<div class="main" role="main">
    <section class="cj-presentation">
        <div class="container">
        <div class="cj-content">
            <div class="cj-text">
                <h1>
                    Jacob Corentin
                </h1>
                <p class="cj-headline">Développeur full-stack</p>
                <p class="cj-summary">Lorem ipsum, dolor sit amet consectetur 
                adipisicing elit. Dolor blanditiis iusto dignissimos, pariatur 
                dolorem amet illum voluptatem velit perferendis placeat. 
                Qui ipsam quam vitae tempore, nulla quidem minima nam natus?</p>
                <div class="cj-ctas">
                    <a href="#" class="cj-btn cj-btn--github">
                        <img src="/assets/img/github.svg" alt="github icon"/>See on Github
                    </a>
                    <a href="#" class="cj-btn cj-btn--discord">
                        <img src="/assets/img/discord.svg" alt="discord icon"/>Join us on Discord
                    </a>
                </div>
            </div>
        </div>
        </div>
    </section>
</div>
